<h1><%= @worldcup.host %></h1>
<p><%= @worldcup.year %></p>
<p><%= @worldcup.winner %></p>
<a href="/worldcup/<%= @worldcup.id %>/edit">Edit</a>

<form action="/worldcup/<%= @worldcup.id %>" method="post">
  <input type="submit" value="Delete">
  <input type="hidden" name="_method" value="DELETE">
</form>
